<label for="start_date">Da:</label>
<input type="date" id="start_date" name="trip-start">

<label for="end_date">A:</label>
<input type="date" id="end_date" name="trip-end">

<div class="table-responsive">

    <table class="table table-striped" id="registroassicurazionesanitaria" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th style="width:10%">id</th>
        <th style="width:10%">user_id</th>
        <th style="width:10%">code</th>
        <th style="width:10%">clockin</th>
        <th style="width:30%">clockout</th>
        <th style="width:10%">moreinfo</th>
        <th style="width:10%">IP</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function () {
    var the_start_date = ''
    var the_end_date = ''

    ClockTable = $('#registroassicurazionesanitaria').DataTable({
        ajax: {
            url: '/api/RegistroAssicurazioneSanitaria',
            data: {start_date: the_start_date, end_date: the_end_date}
        },
        serverSide: true,
        processing: true,
        language: {url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json'},
        columns: [
            {data: 'id', orderable: true},
            {data: 'user_id', orderable: true},
            {data: 'code', orderable: true},
            {data: 'clockin', orderable: true},
            {data: 'clockout', orderable: true},
            {data: 'moreinfo', orderable: true},
            {data: 'IP', orderable: true},
        ],
    });

    document.getElementById("start_date").onchange = function(){
        the_start_date = this.value;
        console.log(the_start_date);
    };

    document.getElementById("end_date").onchange = function(){
        the_end_date = this.value;
        console.log(the_end_date);
    };

});
</script>