<form class="user" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username(class="form-control form-control-user") }}
    </div>
    <div class="form-group">
        {{ form.password(class="form-control form-control-user") }}
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Ricordami</label>
        </div>
    </div>
 {% for field, errors in form.errors.items() %}
    <small class="form-text text-muted ">
        {{ ', '.join(errors) }}
    </small>
{% endfor %}
    {{ form.submit(class="btn btn-primary btn-user btn-block") }}
</form>